<h2 class="page-header">Profile</h2>

<table style="width:100%">
  <tr>
    <th>Event</th>
    <th>Date</th> 
    <th>Venue</th>
    <th>Category</th>
  </tr>

  {{#each data}}
  <tr>
  	<td>{{Title}}</td>
  	<td>{{Date}}</td>
  	<td>{{Venue}}</td>
  	<td>{{Category}}</td>
  </tr>
  {{/each}}
</table>